body{background: white;}
h1{color: red}
a{
transition: color 3s;
   }
   a:hover  {
background: green;

}
nav {
  display: flex;
  align-items: flex-start;
  flex-direction:row-reverse;
  justify-content: space-around;
}
